@media (max-width: 768px) {
  .sec2-swiper-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .sec2-swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 750/1333;
  }

  .banner1 {
    background-image: url("../images/sec2-banner1-mb.png");
  }
  .banner2 {
    
    background-image: url("../images/sec2-banner1-mb.png");
  }
  .banner3 {
    background-image: url("../images/sec2-banner1-mb.png");
  }

  .swiper-slide .img {
    height: 100%;
    margin: auto;
  }

  .frame-content {
    position: absolute;
    width: 80%;
    height: 50%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtitle1 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 702/127;
  }
  .subtitle2 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 802/124;
  }
  .subtitle3 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 959/127;
  }

  .btn-viewmore {
    width: 50%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-btn-viewmore.png") !important;
    aspect-ratio: 298/61;
    margin-top: 6%;
  }

  .sec2-content-txt {
    color: white;
    font-size: var(--fs-sec2-content);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .sec2-slider-controler {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0%;
  }

  .sec2-slider-controler .sec2-swiper-button-next {
    width: 17%;
    height: 8%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-swiper-right.png") !important;
    background-color: transparent;
    aspect-ratio: 140/100;
    z-index: 10;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .sec2-slider-controler .sec2-swiper-button-prev {
    width: 17%;
    height: 8%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-swiper-left.png") !important;
    background-color: transparent;
    aspect-ratio: 140/100;
    z-index: 10;
  }

  .sec2-swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
    z-index: 10;
    margin-bottom: 4%;
    gap: 3%;
  }

  .swiper-pagination-bullet {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/swiper-bullet.png") !important;
    aspect-ratio: 21/21;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/swiper-bullet-active.png") !important;
    aspect-ratio: 21/21;
    background-color: transparent !important;
  }

  .sec2-swiper-pagination .swiper-pagination-bullet {
    width: 4%;
    height: 63%;
  }
}

@media (min-width: 769px) {
  .sec2-swiper-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;
  }

  .banner1 {
    background-image: url("../images/sec2-banner1-pc.png");
  }
  .banner2 {
    background-image: url("../images/sec2-banner2-pc.png");
  }
  .banner3 {
    background-image: url("../images/sec2-banner2-pc.png");
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .sec2-swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 1920/1080;
  }

  .swiper-slide .img {
    height: 100%;
    margin: auto;
  }

  .frame-content {
    position: absolute;
    width: 33%;
    left: 14%;
    top: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtitle1 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 702/127;
  }
  .subtitle2 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 802/124;
  }
  .subtitle3 {
    width: 100%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    aspect-ratio: 959/127;
  }

  .btn-viewmore {
    width: 50%;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-btn-viewmore.png") !important;
    aspect-ratio: 298/61;
    margin-top: 6%;
  }

  .sec2-content-txt {
    color: white;
    font-size: var(--fs-sec2-content);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .sec2-slider-controler {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    top: 0%;
    gap: 80%;
  }

  .sec2-slider-controler .sec2-swiper-button-next {
    width: 8%;
    height: 8%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-swiper-right.png") !important;
    background-color: transparent;
    aspect-ratio: 140/100;
    z-index: 10;
    cursor: pointer;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .sec2-slider-controler .sec2-swiper-button-prev {
    width: 8%;
    height: 8%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/sec2-swiper-left.png") !important;
    background-color: transparent;
    aspect-ratio: 140/100;
    z-index: 10;
    cursor: pointer;
  }

  .sec2-swiper-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4%;
    margin-bottom: 2%;
    z-index: 10;
    gap: 2%
  }

  .swiper-pagination-bullet {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/swiper-bullet.png") !important;
    aspect-ratio: 21/21;
    background-color: transparent !important;
  }

  .swiper-pagination-bullet-active {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("../images/swiper-bullet-active.png") !important;
    aspect-ratio: 21/21;
    background-color: transparent !important;
  }

  .sec2-swiper-pagination .swiper-pagination-bullet {
    width: 2%;
    height: 90%;
  }
}
